<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <form action='/testcommand' method='POST'>
      First name:<br>
      <input type="text" name="firstname" value="Mickey">
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="Mouse">
      <br><br>
      <input type="submit" value="Submit">
    </form>  -->


    <form action='/testcommand2' method='POST'>
      District:<br>
      <input type="number" name="district" id="district" >
      <br>
      Supply:<br>
      <input type="number" name="supply" id="supply" >
      <br>
      Year:<br>
      <input type="number" name="year" id="year" >
      <br>
      Month:<br>
      <input type="number" name="month" id="month" >
      <br><br>
      <input type="submit" value="Submit">
    </form> 


    
  </body>
</html>
