<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 90%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
h2{
  font-size: 40px;
}
</style>
</head>
<body>

<h2>SEARCH THE STATES</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th style="width:30%;">STATES</th>
    <th style="width:30%;">NATIVE PLANT</th>
    <th style="width:40%;">DESCRIPTION</th>
  </tr>
  <tr>
    <td>Andaman & Nicobar Islands</td>
    <td>Andaman redwood</td>
    <td>Andaman redwood or East Indian mahogany, is a species of legume in the Fabaceae family. It is sometimes called "narra", but this is just a generic term used for any of several Pterocarpus species. It is native to the Andaman Islands.

</td>

  </tr>
  <tr>
    <td>Andhra Pradesh</td>
    <td>Neem</td>
    <td>Azadirachta indica, commonly known as neem, nimtree or Indian lilac, is a tree in the mahogany family Meliaceae. It is one of two species in the genus Azadirachta, and is native to the Indian subcontinent, i.e. India, Nepal, Pakistan, Bangladesh, Sri Lanka, and Maldives. It is typically grown in tropical and semi-tropical regions.

</td>
  </tr>
  <tr>
    <td>Arunachal Pradesh</td>
    <td>Hollong</td>
    <td>Dipterocarpus macrocarpus is a common medium hardwood tree in South-East Asia and India. It is the state tree of Arunachal Pradesh and Assam, India. In Assam it is locally known as Hollong tree. It is the tallest tree of Assam.

</td>
  </tr>
  <tr>
    <td>Assam</td>
    <td>Hollong</td>
    <td>Dipterocarpus macrocarpus is a common medium hardwood tree in South-East Asia and India. It is the state tree of Arunachal Pradesh and Assam, India. In Assam it is locally known as Hollong tree. It is the tallest tree of Assam.

</td>
  </tr>
  <tr>
    <td>Bihar</td>
    <td>Sacred fig</td>
    <td>Ficus religiosa or sacred fig is a species of fig native to the Indian subcontinent and Indochina that belongs to Moraceae, the fig or mulberry family. It is also known as the bodhi tree, pippala tree, peepul tree, peepal tree or ashwattha tree. 

</td>
  </tr>
  <tr>
    <td>Chandigarh</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Chattisgarh</td>
    <td>Sal</td>
    <td>Shorea robusta, also known as śāl, sakhua or shala tree, is a species of tree belonging to the Dipterocarpaceae family.</td>
  </tr>
  <tr>
    <td>Dadar and nagar haveli</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Daman and diu</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Delhi</td>
    <td>Flamboyant</td>
    <td>-</td>

  </tr>
  <tr>
    <td>Goa</td>
    <td>Coconut</td>
    <td>The coconut tree is a member of the palm tree family (Arecaceae) and the only living species of the genus Cocos. The term "coconut" can refer to the whole coconut palm, the seed, or the fruit, which botanically is a drupe, not a nut. </td>
  </tr>
  <tr>
    <td>Gujarat</td>
    <td>Mango</td>
    <td>it is the national fruit of india.</td>
  </tr>
  <tr>
    <td>Haryana</td>
    <td>Sacred fig</td>
    <td>Ficus religiosa or sacred fig is a species of fig native to the Indian subcontinent and Indochina that belongs to Moraceae, the fig or mulberry family.
</td>
  </tr>
  <tr>
    <td>Himachal Pradesh</td>
    <td>deodar</td>
    <td>Cedrus deodara, the deodar cedar, Himalayan cedar, or deodar/devdar/devadar/devadaru, is a species of cedar native to the western Himalayas in Eastern Afghanistan, No. It has a conic crown with level branches and drooping branchlets.

</td>
  </tr>
  <tr>
    <td>Jammu & Kashmir</td>
    <td>Chinar</td>
    <td>Platanus orientalis, the Old World sycamore, or Oriental plane, is a large, deciduous tree of the Platanaceae family, growing to 30 m (98 ft) or more, and known for its longevity and spreading crown.</td>
  </tr>
  <tr>
    <td>Jharkhand</td>
    <td>Sal</td>
    <td>Shorea robusta, also known as śāl, sakhua or shala tree, is a species of tree belonging to the Dipterocarpaceae family.</td>
  </tr>
  <tr>
    <td>Karnataka</td>
    <td>Sandalwood</td>
    <td>Santalum album, or Indian sandalwood, is a small tropical tree, and is the most commonly known source of sandalwood. It is native to India, Indonesia, and the Malay Archipelago. </td>
  </tr>
  <tr>
    <td>Kerala</td>
    <td>Coconut</td>
    <td>The coconut tree is a member of the palm tree family (Arecaceae) and the only living species of the genus Cocos. The term "coconut" can refer to the whole coconut palm, the seed, or the fruit, which botanically is a drupe, not a nut.</td>
  </tr>
  <tr>
    <td>Lakshwdeep</td>
    <td>Bread fruit</td>
    <td>Breadfruit is a species of flowering tree in the mulberry and jackfruit family (Moraceae) believed to be a domesticated descendant of Artocarpus camansi originating in New Guinea, the Maluku Islands, and the Philippines. It was initially spread to Oceania via the Austronesian expansion. It was further spread to other tropical regions of the world during the Colonial Era. British and French navigators introduced a few Polynesian seedless varieties to Caribbean islands during the late 18th century.

</td>
  </tr>

  <tr>
    <td>Madhya pradesh</td>
    <td>banyan</td>
    <td>A banyan, also spelled "banian", is a fig that begins its life as an epiphyte, i.e. a plant that grows on another plant, when its seed germinates in a crack or crevice of a host tree or edifice.</td>
  </tr>
  <tr>
    <td>Maharashtra</td>
    <td>Mango</td>
    <td>Mangoes are juicy stone fruit (drupe) from numerous species of tropical trees belonging to the flowering plant genus Mangifera, cultivated mostly for their edible fruit.</td>
  </tr>
  <tr>
    <td>Mizoram</td>
    <td>Ironwood</td>
    <td>Ironwood is a common name for a large number of woods or plants that have a reputation for hardness, or specifically a wood density that is over 1000 kg/m3 and sinks in water. </td>
  </tr>
  <tr>
    <td>Meghalaya</td>
    <td>White teak</td>
    <td>Gmelina arborea,, locally known as gamhar, is a fast-growing deciduous tree, occurring naturally throughout greater part of India at altitudes up to 1,500 meters. It also occurs naturally in Myanmar, Thailand, Laos, Cambodia, Vietnam. </td>
  </tr>
  <tr>
    <td>Manipur</td>
    <td>Toona</td>
    <td>Toona, commonly known as redcedar, toon or toona, is a genus in the mahogany family, Meliaceae, native from Afghanistan south to India, and east to North Korea, Papua New Guinea and eastern Australia.</td>
  </tr>
  <tr>
    <td>Orissa</td>
    <td>Banyan</td>
    <td>A banyan, also spelled "banian", is a fig that begins its life as an epiphyte, i.e. a plant that grows on another plant, when its seed germinates in a crack or crevice of a host tree or edifice</td>
  </tr>
  <tr>
    <td>Pondichery</td>
    <td>Bael fruit tree</td>
    <td>Aegle marmelos L., commonly known as bael, also Bengal quince, golden apple, Japanese bitter orange, stone apple or wood apple, is a species of tree native to the Indian subcontinent and Southeast Asia. It is present in Sri Lanka, Thailand and Malesia as a naturalized species.

</td>
  </tr>
  <tr>
    <td>Punjab</td>
    <td>Indian rosewood</td>
    <td></td>
  </tr>
  
</table>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

</body>
</html>
