<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Output</title>
    </head>
    <body style="background-color: rgb(197, 190, 190)">
            <h1 style="color: white">THREE MONTH PLAN</h1>
        <section >
        <div id="boundary" class="container" style="margin-top:10%;margin-bottom:10%">
                <div class="row">
                        <div class="col-sm">
                                <div class="form-group">
                                        <label>Rainfall for current month:</label>
                                        <textarea class="form-control mm">{{op1}}</textarea>
                                    </div>
                                    <div class="form-group">
                                            <label>Ideal Requirement for Current Month:</label>
                                            <textarea class="form-control mm" style="rezie:auto">{{op4}}</textarea>
                                    </div>
                        </div>
                        <div class="col-sm">
                                <div class="form-group">
                                        <label>Rainfall for next Month:</label>
                                        <textarea class="form-control mm">{{op2}}</textarea>
                                    </div>
                                    <div class="form-group">
                                            <label>Ideal Requirement for Second Month:</label>
                                            <textarea class="form-control mm" style="rezie:auto">{{op5}}</textarea>
                                    </div>
                        </div>
                        <div class="col-sm">
                                <div class="form-group">
                                        <label>Rainfall for Next to next Month:</label>
                                        <textarea class="form-control mm">{{op3}}</textarea>
                                </div>
                                <div class="form-group">
                                        <label>Ideal Requirement for Third Month:</label>
                                        <textarea class="form-control mm" style="resize:auto">{{op6}}</textarea>
                                </div>
                        </div>
                    </div>
            <!-- <form>
                <div class="form-group">
                    <label>Rainfall for current month:</label>
                    <textarea class="form-control mm">{{op1}}</textarea>
                </div>
                <div class="form-group">
                    <label>Rainfall for next Month:</label>
                    <textarea class="form-control mm">{{op2}}</textarea>
                </div>
                <div class="form-group">
                        <label>Rainfall for Next to next Month:</label>
                        <textarea class="form-control mm">{{op3}}</textarea>
                </div>
                <div class="form-group">
                        <label>Ideal Requirement for First Month:</label>
                        <textarea class="form-control mm" style="rezie:auto">{{op4}}</textarea>
                </div>
                <div class="form-group">
                        <label>Ideal Requirement for Second Month:</label>
                        <textarea class="form-control mm" style="rezie:auto">{{op5}}</textarea>
                </div>
                <div class="form-group">
                        <label>Ideal Requirement for Third Month:</label>
                        <textarea class="form-control mm" style="resize:auto">{{op6}}</textarea>
                </div>
                <div class="form-group">
                        <label>Recomendation:</label>
                        <textarea class="form-control mm">{{op7}}</textarea>
                </div>
            </form> -->
        <!-- </div> -->
        </section>
    </body>
    <style>
        #boundary{
            background-color: rgb(161, 157, 157);
            box-align: middle;
        }

        .mm, .container{
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            min-width: 1%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>